html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

html, body {
  font-family: 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #dbf0ec; }

a[href] {
  color: #0a66c2;
  text-decoration: none; }

a[href]:hover {
  text-decoration: underline; }

#lml {
  box-sizing: border-box;
  width: 896px;
  margin: auto;
  padding: 24px 24px 0 48px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  background-color: white;
  position: relative; }

h1 {
  margin-top: 64px;
  font-size: 48px;
  line-height: 1;
  font-weight: normal; }

hr, p, table {
  margin-bottom: 24px; }

h2 {
  margin: 64px 0 24px -48px;
  padding-left: 12px;
  border-bottom: 1px solid #4db3a2;
  border-left: 36px solid #4db3a2;
  font-size: 24px;
  font-weight: normal; }

hr {
  border-top: 1px solid #cccccc; }

caption {
  padding-left: 12px;
  text-align: left; }

td {
  padding: 4px 24px 4px 12px;
  border: 1px solid #cccccc; }

footer {
  margin-top: 64px;
  padding: 24px 0;
  border-top: 1px solid #cccccc; }
  footer > :last-child {
    margin-left: 24px; }

@media screen and (max-width: 959px) {
  #lml {
    width: 100%;
    border: none; }

  img, iframe {
    max-width: 100%; } }
#twitter, #facebook {
  position: absolute;
  top: 25px; }

#twitter {
  right: 15px; }

#facebook {
  right: 115px; }
