
@import 'default';

$margin: 24px;
$width: 800px + $margin * 4;
$large-margin: 64px;
$font-size: 16px;
$back-color: hsl(170, 40%, 90%);
$border-color: 1px solid hsl(0, 0, 50%);
$line-color: 1px solid hsl(0, 0, 80%);

html, body {
    height: 100%;
    font-family: 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    font-size: $font-size;
    line-height: 1.5;
    background-color: $back-color;
}

#wrapper {
    min-height: 100%;
    margin: auto;
    position: relative;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#lml {
    box-sizing: border-box;
    width: $width;
    margin: auto;
    padding: $margin $margin 0 $margin * 2;
    border-left: $border-color;
    border-right: $border-color;
    background-color: white;
    position: relative;

    > p > a, > footer > a {
        color: #0f6faf;
    }

    > h1 {
        margin-top: $large-margin;
        font-size: $font-size * 3;
        line-height: 1;
        font-weight: normal;
    }

    > h2, > hr, > p, > table {
        margin-bottom: $margin;
    }

    > h2 {
        margin-top: $large-margin;
        border-bottom: $line-color;
        font-size: $font-size * 1.5;
    }

    > hr {
        border-top: $line-color;
    }

    caption {
        padding-left: $margin / 2;
        text-align: left;
    }

    td {
        padding: 4px $margin 4px $margin / 2;
        border: $line-color;
    }

    > footer {
        margin-top: $large-margin;
        padding: $margin 0;
        border-top: $line-color;

        > :last-child {
            margin-left: $margin;
        }
    }
}

@media screen and (max-width: 959px) {

    #lml {
        width: 100%;
        padding-left: $margin;
        border: none;

        img, iframe {
            max-width: 100%;
        }
    }
}

#twitter, #facebook, #hatena {
    position: absolute;
    top: $margin + 1px;
}

#twitter {
    right: 15px;
}

#facebook {
    right: 115px;
}

#hatena {
    right: 230px;
}
