
body {
    background-color: hsl(210, 50%, 92%);
    font-size: 16px;
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
}

div {
    background-color: white;
    border-left: 30px solid rgb(64, 96, 128);
    border-right: 1px solid rgb(64, 96, 128);
    margin: auto;
    padding: 90px 30px 0 60px;
    position: relative;
    width: 830px;
}

h1 {
    font-size: 54px;
}

h1:first-letter {
    color: rgb(64, 96, 128);
}

h2 {
    border-bottom: 1px solid rgb(192, 192, 192);
    font-size: 24px;
    margin: 90px 0 30px 0;
    padding-bottom: 5px;
}

h3 {
    font-size: 24px;
    font-weight: normal;
    line-height: 37px;
    margin: 30px 0;
}

hr {
    border-top: 1px solid rgb(192, 192, 192);
    margin-bottom: 30px;
}

p {
    margin-bottom: 30px;
}

table {
    margin: 30px 0;
}

td {
    border: 1px solid rgb(192, 192, 192);
    padding: 5px 30px 5px 15px;
}

caption {
    padding: 0 0 5px 15px;
    text-align: left;
}

a {
    line-height: 24px;
}

footer {
    border-top: 1px solid rgb(192, 192, 192);
    padding: 30px 0;
}

#twitter, #facebook, #hatena {
    position: absolute;
}

#twitter {
    right: 30px;
}

#facebook {
    right: 130px;
}

#hatena {
    right: 245px;
}
