
body {
    background-color: hsl(210, 50%, 92%);
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

div {
    background-color: white;
    border-left: 30px solid rgb(64, 96, 128);
    border-right: 1px solid rgb(64, 96, 128);
    margin: auto;
    padding: 90px 30px 0 60px;
    position: relative;
    width: 830px;
}

h1 {
    font-size: 54px;
    line-height: 54px;
}

h1:first-letter {
    color: rgb(64, 96, 128);
}

h2 {
    border-bottom: 1px solid rgb(192, 192, 192);
    font-size: 24px;
    margin: 90px 0 30px 0;
    padding-bottom: 4px;
}

hr {
    border-top: 1px solid rgb(192, 192, 192);
    margin-bottom: 30px;
}

p, table {
    margin-bottom: 30px;
}

td {
    border: 1px solid rgb(192, 192, 192);
    padding: 4px 30px 4px 15px;
}

caption {
    padding: 0 0 4px 15px;
    text-align: left;
}

footer {
    border-top: 1px solid rgb(192, 192, 192);
    margin-top: 90px;
    padding: 30px 0;
}

#twitter, #facebook, #hatena {
    position: absolute;
}

#twitter {
    right: 20px;
}

#facebook {
    right: 120px;
}

#hatena {
    right: 235px;
}
